@model IEnumerable<BookApiProject.Dtos.CategoryDto>
@{
    ViewData["Title"] = "Index";
}
<h2>@ViewBag.Message</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h3 class="text-success">@ViewBag.SuccessMessage</h3>
<div>
    <h2>List Of Categories</h2>
    <br />
    @foreach (var item in Model)
    {
        <p>
            <strong>@item.Name</strong>
            <a asp-controller="Categories" asp-action="GetCategoryById" asp-route-categoryId="@item.Id"> | Details</a>
            <a asp-controller="Categories" asp-action="DeleteCategory" asp-route-categoryId="@item.Id"> | Delete Category</a>
        </p>
    }
</div>
