@model BookGUI.ViewModels.CountryAuthorsViewModel
@{
    ViewData["Title"] = "GetCountryById";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h4>@ViewBag.Message</h4>
<h2 class="text-success"> @ViewBag.SuccessMessage</h2>
<div>
    <h1>Country Details</h1>
    <br />
    <div>
        <p>
            <strong>Country Name:</strong> @Model.Country.Name
        </p>
        <div class="form-group text-center">
            <a class="btn btn-sm btn-primary" asp-controller="Countries" asp-action="UpdateCountry"
               asp-route-countryId="@Model.Country.Id">Update Country</a>
            <a class="btn btn-sm btn-danger" asp-controller="Countries" asp-action="DeleteCountry"
               asp-route-countryId="@Model.Country.Id">Delete Country</a>
        </div>
    </div>
    <br /><br />
    <div>
        <h4>@ViewBag.AuthorMessage</h4>
        @foreach (var item in Model.Authors)
        {
            <div>
                <p>
                    <strong>Author Name:</strong>
                    <span>@item.FirstName @item.LastName</span>
                    <a asp-controller="Authors" asp-action="GetAuthorById"
                       asp-route-authorId="@item.Id">Author Details</a>
                </p>
            </div>
        }
    </div>
</div>
